














<!-- <h1> Hi Welcome Anguale Demo </h1>

          <app-login></app-login>
          <app-register></app-register>
          <app-loan></app-loan>
           -->
<nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Simple learn</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a routerLink="home">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Department <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Computer Scienc</a></li>
                    <li><a href="#">Civil Dept </a></li>
                    <li><a href="#">mech dept </a></li>
                  </ul>
                </li>
                <li><a routerLink="databind">DataBinding  </a></li>
                <li><a routerLink="directive">Directive  </a></li>
                <li><a routerLink="serv">Service Demo   </a></li>
                <li><a routerLink="pipe">PIPE Demo   </a></li>
                <li><a routerLink="form">FORMS Demo   </a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </nav>


          
<router-outlet></router-outlet>
 