<div>
    <h1> Hi Welcome to PIPE Demo </h1>
    {{name }}<br>
    {{name | uppercase}}<br>
    {{name | lowercase}}<br>
    {{name | titlecase}}<br>

    <br>

    {{amount}}<br>
    
    {{amount | currency}}<br>
    {{amount | currency:'INR'}}<br>
    {{amount | currency:'JPY'}}<br>
     {{amount | currency:'EUR'}}<br>
    {{amount | currency:'USD'}}<br>

    <br>
    {{date}}<br>
    {{date | date}}<br>
    {{date | date:'dd/MM/YYYY'}}<br>
    {{date | date:'MM/dd/YYYY'}}<br>
    {{date | date:'MM/dd/YY'}}<br>
        <br> 

        {{obj }}<br>
        
        {{obj |json}}<br>

        <br>
        {{5 |sqr}}<br>
        {{10 |sqr }}<br>
        {{5 |cube }}
</div>


