<div class="databind">
    <h2>Data Bind Demo </h2>
        <h3>One Way Data binding </h3>  
            <h5>Event binding </h5>
            <h5>Property  binding </h5>
            <h5> Interpolation</h5>
        <h3>two Way Data binding </h3>
        <hr>

        {{count }}<br>
        <button (click)="abcd()" [disabled]="adddesca">Add </button>
        <button (click)="xyz()" [disabled]="adddescr">Remove </button>


        <button [disabled]="mydec"> Just to check</button>
      
</div>


 <!-- <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers theSimplilearn is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers theSimplilearn is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers theSimplilearn is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers theSimplilearn is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark> is the popular online Bootcamp & online courses learning platform that offers theSimplilearn is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the
       <mark> {{company}}</mark>  is the popular online Bootcamp & online courses learning platform that offers the -->
