<div class="register">
    <h1>Register page </h1>
    <div class="form-inline">
       
       Name : <input type="text" name="uname" class="form-control"><br>
       Password: <input type="text" name="upass" class="form-control"><br>
       Conf Pass: <input type="text" name="ucpass" class="form-control"><br>
       DOB :<input type="date" name="udate" class="form-control"><br>
    
       <input type="submit" value="LOGIN" class="btn btn-success">
       
       <input type="reset" value="LOGIN" class="btn btn-danger">
    </div>
</div>